@import "../../style/index.scss";

.App {
  background-color: silver;
  padding: 14px;
  @include borders(white, dimGray);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  padding: 14px;
  @include borders(dimGray, white);
}

.Body {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  margin-top: 14px;
  @include borders(dimGray, white);
}
.Icon {
  font-size: 45px;
  border-width: 4px;
  padding: 5px;
  cursor: pointer;
  @include borders(white, dimGray);
  &:active {
    @include borders(dimGray, white);
  }
}
